input#answer{
	margin:5px 0;
}

#number-answer-feedback{
	margin:10px 0;
}

.correct-answer{
	color:#0abf8d;
}

.wrong-answer{
	color:#FF0000;
}

#number{
	font-size:16pt;
}

#pages-menu ul{
	list-style:none;
}

#pages-menu ul li{
	font-size:14pt;
}

h1{
	text-align:center;
}

#answer-ratio-holder{
	clear:both;
	text-align:center;
	margin:20px 0;
}

input.answer{
	max-width:300px;
}

#answer-ratio{
	font-size:14pt;
}

#result-text{
	margin:10px 0;
	text-align:center;
}

#results{
	clear:both;
	margin:5px 0;
	font-size:14pt;
}
